flask
flask-sqlalchemy
flask-login
flask-wtf
email-validator
requests
beautifulsoup4
pandas
sqlalchemy
scikit-learn
matplotlib
seaborn
plotly
flask-bcrypt
flask-cors
selenium
torch
transformers
nltk
tqdm
textblob
webdriver-manager
huggingface_hub
prophet
