<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/about.css') }}" />
</head>
<div class="card">
    <div class="card-front">
        <p class="title">Kaustubh Krishna</p>
        <p class="subtitle">Backend</p>
    </div>
    <div class="card-back">
        <p>Tech Stacks: Flask+Python</p>
    </div>
</div>
<div class="card">
    <div class="card-front">
        <p class="title">Sudeep Kumar</p>
        <p class="subtitle">Front end</p>
    </div>
    <div class="card-back">
        <p>Tech stack: React</p>
    </div>
</div>
<div class="card">
    <div class="card-front">
        <p class="title">Aman Swar</p>
        <p class="subtitle">ML</p>
    </div>
    <div class="card-back">
        <p>Tech Stacks: Python</p>
    </div>
</div>
<div class="card">
    <div class="card-front">
        <p class="title">Satyam Kumar Choudhaary</p>
        <p class="subtitle">Frontend+Visualization</p>
    </div>
    <div class="card-back">
        <p>Tech Stacks: Chat.js</p>
    </div>
</div>