{% if current_user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Admin</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='Styles/dash.css') }}" />
</head>

<body>
  <div class="box-menu">
    <div class="wrapper">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="menu">
      <a href="#" class="active"><span class="icon fa fa-info-circle"></span> <span class="text">Home</span></a>
      <a  href="{{ url_for('about_page') }}"> <span class="icon fa fa-suitcase"></span> <span class="text">About Us</span></a>
      <a href="{{ url_for('contact_page') }}"><span class="icon fa fa-phone"></span> <span class="text">Contact-Us</span></a>
    </div>
  </div>

  <div class="container">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Sales Analysis</h2>
        <p>Using graphs and all</p>
        <a  href="{{ url_for('drag') }}" > Read More</a>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Product Insights</h2>
        <p>customer reviews using datasets</p>
        <a href="{{ url_for('analysis_page') }}"> Read More</a>
      </div>
    </div>

    <button class="nav-link" onclick="window.location.href='{{ url_for('logout_page') }}'">Log-Out</button>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('.box-menu .wrapper').on('click', function(){
        $('.box-menu').toggleClass('full-menu');
        $('.hamburger').toggleClass('active');
      });
      $('a').on('click', function(){
        $(this).siblings('a').removeClass('active');
        $(this).addClass('active');
      });
    });
  </script>
</body>
</html>

{% else %}
<script type="text/javascript">
  window.location.href = "{{ url_for('login_page') }}";
</script>
{% endif %}
